/* general settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    
/* /general settings */
/* utility classes */
.d_flex{
    display: flex;
    flex-wrap: wrap;
}
.green{
    background-color: green;

}
.yellow{
    background-color: yellow;
}
/* /utility classes */
.btn {
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
    background: #42473d;
    padding: 1em 0.5em;
    color: #fff;
    width: 50rem;
    margin: auto;
}

.box_number{
    height: 8rem;
    width: 8rem;
    align-items: stretch;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.box_wrap{
    margin: auto;
    height: auto;
    width: 50rem;
    border: 1px solid black;
}

