/* general settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    
/* /general settings */
/* utility classes */
.d_flex{
    display: flex;
    flex-wrap: wrap;
}
.green{
    background-color: green;

}
.yellow{
    background-color: yellow;
}
/* /utility classes */
#app{
    width: 50rem;
    height: 50rem;
    margin: auto;
    margin-top: 5rem;
    border: 1px solid black;
    
}
.box_number{
    height: 8rem;
    width: 8rem;
    align-items: stretch;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

